image:
  repository: postgres
  tag: "15"
  pullPolicy: IfNotPresent

service:
  port: 5432

auth:
  user: postgres
  password: postgres
  database: campaign_master

persistence:
  enabled: true
  size: 5Gi

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi